<div class="image-wrap">
<img src=
  {% if page.image.feature contains 'http' %}
    "{{ page.image.feature }}"
  {% elsif page.image.feature %}
    "{{ site.url }}/images/{{ page.image.feature }}"
  {% else %}
    "{{ site.url }}/images/default-feature-image.jpg"
  {% endif %}
alt="{{ page.title }} feature image">
{% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
{% endif %}
</div><!-- /.image-wrap -->
