<p><em>This post is part of a series on pair programming. Links to the other posts in the series follow:</em></p>

<ul>
  {% if page.url == "/2013/11/20/my-thoughts-on-pair-programming-intro.html" %}
  <li>Introduction</li>
  {% else %}
  <li><a href="/2013/11/20/my-thoughts-on-pair-programming-intro.html">Introduction</a></li>
  {% endif %}

  {% if page.url == "/2013/11/20/my-thoughts-on-pair-programming-the-good.html" %}
  <li>The Good</li>
  {% else %}
  <li><a href="/2013/11/20/my-thoughts-on-pair-programming-the-good.html">The Good</a></li>
  {% endif %}

  {% if page.url == "/2013/11/25/my-thoughts-on-pair-programming-individuality-and-creativity.html" %}
  <li>Individuality &amp; Creativity</li>
  {% else %}
  <li><a href="/2013/11/25/my-thoughts-on-pair-programming-individuality-and-creativity.html">Individuality &amp; Creativity</a></li>
  {% endif %}
</ul>
<hr />
